li {
    display: inline;
    padding:.9%;
    
  
   

}
header{
    display: flex;
    justify-content: space-between;
    width:100px;
}



 ol {
    display: inline;
    list-style-type: none;
}
nav{
    background-color: #ccc;
}
th
{
    font-style: bold;
    text-align: center;
}
 #t1 , #th1, #td1{
     border: 1px solid;
     width:420px;
}
hr {
    background-color: rgb(244, 22, 22);
    height: 10px;
    width: 40px;
    text-align: center;
}

td {
    text-align: center;
    font-size: 10px;
}
td p
{
    margin-left: 100px;
    color: rgb(106, 18, 18);
  
    font-size: 20px;
    font-weight: bold;
}
h1{color: red;
    
font-size: 30px;
margin-top: 40px;
margin-left: 200px;
padding: -130px;

}



 img {
    height: 80px;
   
   
    text-align: justify;
}



.fa-sharp fa-regular fa-square {
    text-align: right;


}


a 
{
     text-decoration:none;
}

table  {

   
    display: block;
  margin-left: 112px;
  width: 80px;

    
}

button {
    background-color: rgba(128, 128, 128, 0.338);
    font-size: 20px;
    font-style: Bold;
    font-family: cursive;
    border-radius: 8px;
   
    border-bottom: 10px;

   margin-left: 120px;
}
a:hover
{
    color: rgb(227, 22, 172);
    cursor:grab;
}
input
{width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;}

 .f {
    height: 40px;
    background-color: #ccc;
}